user = {{ dubzland_postfix_db_username }}
password = {{ dubzland_postfix_db_password }}
hosts = {{ dubzland_postfix_db_host }}
dbname = {{ dubzland_postfix_db_name }}
query = {{ dubzland_postfix_virtual_mailbox_domains_query }}
